############################
# OS-SPECIFIC FILES
############################

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# PACKAGE/BINARY FILES
############################

# Archivos empaquetados y binarios
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# LOGS & DATABASES
############################

*.log
*.sql
*.sqlite
*.sqlite3
.tmp/
.cache/
build/
dist/

############################
# PROJECT ENVIRONMENT
############################

.env
.env.*     # Por si usas .env.production, .env.local, etc.
.eslintcache
.tsbuildinfo
.node_history
pids/
logs/
results/

############################
# PUBLIC STATIC FILES
############################

public/uploads/*
!public/uploads/.gitkeep

############################
# IDEs & CONFIG
############################

.idea/
.vscode/
nbproject/
ssl/

############################
# NODE.JS & DEPENDENCIES
############################

node_modules/
lib-cov
lcov.info

############################
# PACKAGE MANAGERS
############################

# Yarn
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

############################
# TEST OUTPUTS
############################

coverage/

############################
# STRAPI-SPECIFIC FILES
############################

.strapi/
.strapi-updater.json
.strapi-cloud.json
license.txt
exports/
